body {
  margin: 0;
  font-family: arial;
}

.navbar {
  height: 20vh;
  width: 100%;
  position: absolute;
  margin: 10px 0;
  top: 0;
  color: #D5D5D5;
  z-index:999;
  text-align: right;
  font-size: 0.7rem;
}

.nav-item {
  margin: 10px;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  display: flex;
  align-items: center;
}

.container1 {
  background-image: url("../assets/bg1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
}

.intro-text {
  color: #D5D5D5;
  font-size: 1.7rem;
  width: 100%;
  text-align: center;
}
